

  .content-header {
    display: flex;
    justify-content: space-between;
  }
  
  h1 {
    margin-bottom: 1rem;
  }
  
  p {
    margin-bottom: 0.5rem;
  }
  
  .header {
    display: flex;
    justify-content: space-between;

    .button {
      padding: .5rem;
      
    }
  }

  .head-text {
    position: relative;
    display: inline-block;
  
    a {
      cursor: pointer;
      font-size: large;
      position: relative;
      color: #000000;
      text-decoration: none;
      padding-bottom: 5px;
      transition: color 0.3s ease;
  
      &.underline::after {
        content: '';
        position: absolute;
        left: 0;
        bottom: 0;
        height: 2px;
        width: 100%;
        background-color: #000000;
        transform-origin: left;
        transition: transform 0.3s ease;
        transform: scaleX(1);
      }
      
      &::after {
        content: '';
        position: absolute;
        left: 0;
        bottom: 0;
        height: 2px;
        width: 100%;
        background-color: #000000;
        transform-origin: left;
        transition: transform 0.3s ease;
        transform: scaleX(0);
      }
  
      &.underline::after {
        transform: scaleX(1);
      }
    }
  }

  .page1, .page2 {
    transition: transform 0.8s ease;
    .card {
      transition: transform 0.2s ease;
    }
  
    .card:hover {
      transform: scale(1.015);
    }

    .card-detail {
        padding: 1rem;
        margin-left: 1rem;
        margin-right: 1rem;
        display: flex;
        justify-content: space-between;

        div {
           p {
            font-size: large;
            font-weight: 400;
          }
        }
       a {
        height: auto;
        }

        icon-svg {
          background-color: #ff0000;
          height: auto;
          width: 2rem;
          cursor: pointer;
          
          }  
        
    }

    .card-body {
        display: flex;
        justify-content: space-between;
        margin-left: 1rem;
        margin-right: 1rem;
        //height: 60px;

        a {
          display: flex;
          gap: 2rem;
          align-items: center;

          a{

            icon-svg {
              width: 2rem;
              height: 2rem;
            }
          }
        }

        .card-body-header {
          display: flex;
          align-items: center;
          gap: 1rem;
          height: auto;

          .icon-bg {
            background-color: #e5e5e5;
            border-radius: 100%;
            padding: .2rem;
            
          icon-svg {
            width: 3rem;
            height: 3rem;
          }
          }
        }
        .icon {
          width: 30px;
          height: auto;
          transform: rotate(0deg);
          transition: transform 0.3s ease; // Optional: Adds smooth rotation transition
        }
      
        .iconed {
          width: 30px;
          height: auto;
          transform: rotate(180deg);
          transition: transform 0.3s ease; // Optional: Adds smooth rotation transition
        }
      }


  }