<div class="modal-header">
    <h5 class="modal-title">{{ isEditMode ? 'Edit Module' : 'Add Module' }}</h5>
    <button type="button" class="btn-close" (click)="closeModal()"></button>
  </div>
  <div class="modal-body">
    <form [formGroup]="eventForm" (ngSubmit)="onSubmit()">
      <div class="mb-3">
        <label for="EventTitle" class="form-label">Event Title</label>
        <input id="EventTitle" formControlName="EventTitle" class="form-control" />
      </div>
      <div class="mb-3">
        <label for="EventDescription" class="form-label">Description</label>
        <input id="EventDescription" formControlName="EventDescription" class="form-control" />
      </div>
      <div class="mb-3">
        <label for="EventStart" class="form-label">Event Start</label>
        <input type="date" id="EventStart" formControlName="EventStart" class="form-control" />
      </div>
      <div class="mb-3">
        <label for="EventEnd" class="form-label">Event End</label>
        <input type="date" id="EventEnd" formControlName="EventEnd" class="form-control" />
      </div>
  
      <div formArrayName="Employees">
        <div *ngFor="let employee of employees.controls; let i = index" [formGroupName]="i" class="mb-2 d-flex justify-content-between subscribe">
          <label class="container col-2">
            <input checked="checked" type="checkbox" formControlName="InModule" />
            <div class="checkmark"></div>
          </label>
          <div style="cursor: default;" class="col-10">
            {{ employee.get('EmployeeName')?.value }}
            <div class="p-0 m-0">
              <span>Position: {{ employee.get('EmployeePosition')?.value }}</span>
            </div>
          </div>
        </div>
      </div>
      <div class="d-flex justify-content-end gap-2 mt-2" >
        <button type="button" class="btn btn-danger btn-sm" (click)="closeModal()">Cancel</button>
        <button type="submit" class="btn btn-primary">Save</button>
      </div> 
    </form>
  </div>
  