
<div class="page">
  <div class="header-page">
    <h5>Employee List</h5>
    <button class="btn btn-success " (click)="createNew()">Add User</button>
  </div>
  
  <div class="body-page">
    <!-- Iterate through cards and display user information -->
    <div *ngFor="let card of cards" class="card">
      <div class="card-body">
        <icon-svg class="card-img-top rounded-circle" style="width: 100px; height: 100px;" [path]="'User2'" [size]="'6x'" [color]="'gray'" />
        <h5 class="card-title">Name: {{ card.EmployeeName }}</h5>
        <p class="card-text">Position: {{ card.EmployeePosition }}</p>
        <p class="card-text">Cost: {{ card.EmployeeCost | numberFormat }} THB</p>
        <div class="card-option">
          <a (click)="createNew(card)">
            <icon-svg [path]="'pencil'" [size]="'2x'" [color]="'gray'" />
          </a>
          <a (click)="openPopup()">
            <icon-svg [path]="'trash'" [size]="'2x'" [color]="'error'" />
          </a>
        </div>
      </div>
    </div>
  </div>
  
  <div class="footer-page">
    <!-- Add footer content if necessary -->
  </div>
</div>
