<div class="home-container">
    <nav class="sidebar-left" [ngClass]="{'mini': fullbar}">
        <div class="sidebar-left-header">
            <icon-svg [path]="'cost'" [size]="'3x'" [color]="'white'" />
            <p *ngIf="!fullbar" class="text-name">Cost <br/> Management</p>
        </div>
        
        <hr class="sidebar-divider" />
    
        <div class="sidebar-left-main">
            <div [class]="fullbar ? 'sidebar-content': 'sidebar-contented' ">
                <a [class]="fullbar ? 'toggling-btn' : 'toggled-btn mb-3' " (click)="toggleSidebar($event)" >
                    <div *ngIf="fullbar" class="icon-me">
                        <icon-svg [path]="'detail'" [size]="'3x'" [color]="'white'" />
                    </div>
                    <div *ngIf="!fullbar" class="icon-me">
                        <a>
                            <icon-svg class="col-3" [path]="'cancel'" [size]="'3x'" [color]="'white'" />
                        </a>
                        <span class="col-9 "></span>
                    </div>
                </a>
    
                <ul>
                    <li>
                        <a routerLink="/dashboard" routerLinkActive="active-tab" class="nav-link mb-2">
                            <div class="icon-bg" [class]="fullbar ? 'toggle-btn col-12' : 'toggled-btn col-3'">
                                <icon-svg [path]="'Dashboard-Icon'" [size]="'3x'" [color]="'white'" />
                                 <!-- <strong>D</strong> -->
                            </div>
                            <span class="col-9 text-start" *ngIf="!fullbar">Dashboard</span>
                        </a>
                    </li>
                    <li>
                        <a routerLink="/user" routerLinkActive="active-tab" class="nav-link mb-2">
                            <div class="icon-bg" [class]="fullbar ? 'toggle-btn' : 'toggled-btn col-3'">
                                <icon-svg [path]="'User2'" [size]="'3x'"[color]="'white'" />
                                <!-- <strong>U</strong> -->
                            </div>
                            <span class="col-9 text-start" *ngIf="!fullbar">User</span>
                        </a>
                    </li>
                    <li>
                        <a routerLink="/projects" routerLinkActive="active-tab" class="nav-link mb-2">
                            <div class="icon-bg" [class]="fullbar ? 'toggle-btn' : 'toggled-btn col-3'">
                                <icon-svg [path]="'project2'" [size]="'3x'" [color]="'white'"/>
                                <!-- <strong>P</strong> -->
                            </div>
                            <span class="col-9 text-start" *ngIf="!fullbar">Projects</span>
                        </a>
                    </li>
                </ul>

            </div>

            <div [class]="fullbar ? 'sidebar-foot' : 'sidebar-footed' ">
                <div [class]="fullbar ?  'foot-content' : 'foot-contented' ">
                    <a routerLink="about/setting" routerLinkActive="active-tab" class="nav-link" >
                        <div class="icon-bg">
                            <icon-svg [path]="'setting'" [size]="'3x'" [color]="'white'" />
                        </div>
                        <span *ngIf="!fullbar">Setting</span>
                    </a>
                </div>
            </div>
        </div>
    </nav>    
    
  
    <div class="container-content">
      <div class="header">
        <p class="text-name">{{ this.page }}</p>
        <div class="header-right">
          <input type="text" class="search-bar" placeholder="Search...">
          <div class="profile-dropdown">
            <button class="profile-btn" (click)="toggleDropdown()">
              <icon-svg [path]="'User2'" [size]="'2x'" [color]="'gray'"></icon-svg>
            </button>
            <div class="dropdown-content" [ngClass]="{'active': isDropdownOpen}">
              <a href="#">Profile</a>
              <a [routerLink]="['/about/setting']">Setting</a>
              <a href="#">Logout</a>
            </div>
          </div>
        </div>
      </div>
      <section class="content">
        <div>
            <router-outlet></router-outlet>
        </div>
      </section>
    </div>
  </div>
  