.con {
  margin: 0;
  padding: 0;
}
.scroll {
    overflow-y: auto;
    overflow-x: none;
}

.fc-event-title {
    display: block;
    font-size: 12px; /* Adjust as necessary */
    white-space: normal;
    overflow: visible;
}

.ova {
    max-height: 400px;
    overflow: auto;
 }

 .fc .fc-scroller::-webkit-scrollbar {
    width: 10px;
  }
  
  .fc .fc-scroller::-webkit-scrollbar-track {
    background-color: #F5F5F5;
    border-radius: 10px;
  }
  
  .fc .fc-scroller::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background-image: linear-gradient(to top, rgb(122, 153, 217) 44%, rgb(73, 125, 189) 72%, rgb(28, 58, 148) 86%);
  }
  
  /* Firefox scrollbar styling */
  .fc .fc-scroller{
    scrollbar-width: thin; /* Firefox */
    scrollbar-color: rgb(28, 58, 148) #F5F5F5; /* thumb color, track color */
  }