<div class="con">
  <div class="row">

    <!-- Calendar Column -->
    <div class="col-9">
      <div class="p-3">
        <full-calendar #calendar [options]="calendarOptions"></full-calendar>
      </div>
    </div>

    <!-- Employee Events Column -->
    <div class="col-3 bg-light">
      <div class="p-4">
        <button type="button" class="btn btn-primary" (click)="saveEvent()">
          Create Event
        </button>
      </div>
      <div class="p-3">
        <ul class="list-group scroll">
          <!-- Loop through employees -->
          <li *ngFor="let employee of UserEvent" class="list-group-item">
            <div>
              <h5>{{ employee.EmployeeData.EmployeeName }} <br> {{ employee.EmployeeData.EmployeePosition }}</h5>
              <p>Cost: ${{ employee.EmployeeData.EmployeeCost }}</p>
            </div>
        
            <!-- Nested events for each employee -->
            <ul class="list-group mt-2">
              <li *ngFor="let event of employee.EmployeeData.Events" class="list-group-item">
                <strong>{{ event.EventTitle }}</strong>
                <p>{{ event.EventDescription }}</p>
                <small>
                  Start: {{ event.EventStart | date: 'short' }} <br>
                  End: {{ event.EventEnd | date: 'short' }}
                </small>
              </li>
            </ul>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
