<div class="con">
  <div class="row">

    <!-- Calendar Column -->
    <div class="col-9">
      <div class="p-3">
        <full-calendar #calendar [options]="calendarOptions"></full-calendar>
      </div>
    </div>

    <!-- Employee Events Column -->
    <div class="col-3 bg-light">
      <div class="p-4">
        <button type="button" class="btn btn-primary" (click)="saveEvent()">
          Create Event
        </button>
      </div>
      <div class="p-3">
        <ul class="list-group scroll">
          <!-- Display employees -->
          <li *ngFor="let employee of employees" class="list-group-item">
            <ul class="list-group mt-2">
              <!-- Display events for each employee -->
              <li *ngFor="let event of employeeEvents[employee.EmployeeId]" class="list-group-item">
                <h6>{{ event.title }}</h6>
                <p>{{ event.extendedProps }}</p>
                <p><small>Start: {{ event.start  }}</small></p>
                <p><small>End: {{ event.end  }}</small></p>
              </li>
            </ul>
          </li>
        </ul>
      </div>
    </div>

  </div>
</div>
